{% extends 'base.html.twig' %}

{% block title %}Hello EditUserController!{% endblock %}

{% block body %}
    <div class="my-4 container">
        <h1>Modification du profil</h1>
        {{form(form)}}
    </div>
{% endblock %}
